# Paste your Supabase connection URI string below, replacing [YOUR-PASSWORD] with your actual database password
DATABASE_URL="postgresql://postgres.jdfytdwexshtvjchuoyf:[YOUR-PASSWORD]@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
